<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" (click)="inicio()" style="cursor: pointer;">Inicio</a>
                </li>
            </ul>
            <form class="d-flex">
                <a class="btn btn-outline-success" (click)="ingresar()" role="button" style="cursor: pointer;">Ingresar</a>
            </form>
        </div>
    </div>
</nav>
<div class="col my-5 px-2" style="margin-left: 22%; margin-right: 22%; background-color: white">
    <div class="row">
        <h2 class="mb-4" style="color: #E66437">Su cuenta bancaria: 10 preguntas que debe hacer</h2>
        <p style="text-align: justify">
            Es posible que lo que en papel parece ser una cuenta sin cargos o de bajo costo, no sea lo que mejor se adapte a sus necesidades. Estas son 10 preguntas que debe hacer y que le ayudan a determinar si su cuenta es adecuada para usted.
        </p>
    </div>

    <div class="row">
        <div class="row my-4">
            <div class="col ms-3 px-1 py-4 bg-dark" onclick="show_cargo1()">
                <div class="d-inline p-4 bg-primary text-white">
                    <p class="d-inline">1</p>
                </div>
                <div class="d-inline p-4 bg-dark text-white pe">
                    <p class="d-inline">¿Puedo usar gratis un cajero automático (ATM)?</p>
                </div>
            </div>
            <div id="cargo1" class="row my-4 px-4">
                <p style="text-align: justify">
                    Los cajeros ATM le permiten retirar dinero de su cuenta de cheques sin necesidad de ir a una sucursal bancaria. Pero algunos retiros podrían costarle dinero. Muchos bancos le cobran por el uso de cajeros operados por otros bancos o por terceras partes,
                    y esos cargos pueden acumularse rápidamente. Si un banco tiene una red extensa de cajeros ATM, usted tiene un mejor acceso a retiros sin cargos. Además, algunos bancos le reembolsan sus cargos de cajeros ATM.
                </p>
            </div>
        </div>

        <div class="row my-4">
            <div class="col ms-3 px-1 py-4 bg-dark" onclick="show_cargo2()">
                <div class="d-inline p-4 bg-primary text-white">
                    <p class="d-inline">2</p>
                </div>
                <div class="d-inline p-4 bg-dark text-white pe">
                    <p class="d-inline">¿Qué sucede si trato de retirar más dinero del que tengo en mi cuenta? </p>
                </div>
            </div>
            <div id="cargo2" class="row my-4 px-4">
                <p style="text-align: justify">
                    Retirar más dinero del que hay en su cuenta se conoce como sobregirar. Los servicios de sobregiro de un banco por lo general le permiten realizar la transacción, pero le cobrarán un cargo. Algunos bancos le impiden sobregirar cuando desliza su tarjeta
                    de débito y es posible que le permitan solicitar que todas las transacciones sean rechazadas cuando su cuenta no tenga fondos suficientes. También puede registrarse en el plan opcional de protección contra sobregiros, que le permite
                    cubrir un sobregiro con dinero de otra cuenta, como su cuenta de ahorros o de una tarjeta de crédito. Tenga en cuenta que esta protección puede resultar en un cargo, y si paga el sobregiro con una tarjeta de crédito, también puede
                    estar sujeto a interés.
                </p>
            </div>
        </div>

        <div class="row my-4">
            <div class="col ms-3 px-1 py-4 bg-dark" onclick="show_cargo3()">
                <div class="d-inline p-4 bg-primary text-white">
                    <p class="d-inline">3</p>
                </div>
                <div class="d-inline p-4 bg-dark text-white pe">
                    <p class="d-inline">¿Hay algún cargo?</p>
                </div>
            </div>
            <div id="cargo3" class="row my-4 px-4">
                <p style="text-align: justify">
                    Algunos bancos cobran cargos mensuales por el mantenimiento de su cuenta. En muchos casos, sin embargo, ellos eximen dichos cargos bajo ciertas condiciones, como depósitos directos regulares de nómina.
                </p>
            </div>
        </div>

        <div class="row my-4">
            <div class="col ms-3 px-1 py-4 bg-dark" onclick="show_cargo4()">
                <div class="d-inline p-4 bg-primary text-white">
                    <p class="d-inline">4</p>
                </div>
                <div class="d-inline p-4 bg-dark text-white pe">
                    <p class="d-inline">¿Necesito mantener cierta cantidad de dinero en mi cuenta?</p>
                </div>
            </div>
            <div id="cargo4" class="row my-4 px-4">
                <p style="text-align: justify">
                    Los bancos por lo general exigen un depósito inicial para abrir una cuenta, y algunos bancos le exigen que pague un cargo si no mantiene un saldo mínimo o promedio en su cuenta. Esos cargos también se pueden eximir en base a ciertas condiciones.
                </p>
            </div>
        </div>

        <div class="row my-4">
            <div class="col ms-3 px-1 py-4 bg-dark" onclick="show_cargo5()">
                <div class="d-inline p-4 bg-primary text-white">
                    <p class="d-inline">5</p>
                </div>
                <div class="d-inline p-4 bg-dark text-white pe">
                    <p class="d-inline">¿Hay alguna sucursal cercana?</p>
                </div>
            </div>
            <div id="cargo5" class="row my-4 px-4">
                <p style="text-align: justify">
                    Si no le importa efectuar todas sus transacciones bancarias en línea o por teléfono, puede considerar una institución bancaria con una sucursal cercana a su trabajo o a su casa. Puede ser útil revisar en la página web del banco para saber qué transacciones
                    requerirán que visite una sucursal.
                </p>
            </div>
        </div>

        <div class="row my-4">
            <div class="col ms-3 px-1 py-4 bg-dark" onclick="show_cargo6()">
                <div class="d-inline p-4 bg-primary text-white">
                    <p class="d-inline">6</p>
                </div>
                <div class="d-inline p-4 bg-dark text-white pe">
                    <p class="d-inline">¿Puedo tener acceso a la información de mi cuenta en línea?</p>
                </div>
            </div>
            <div id="cargo6" class="row my-4 px-4">
                <p style="text-align: justify">
                    Es posible que pueda revisar saldos, transferir dinero, recibir estados de cuenta y pagar cuentas en línea. Si no tiene acceso a una sucursal, la banca en línea puede ser muy útil. Asegúrese de conocer sus responsabilidades y garantías al hacer transacciones
                    bancarias en línea en caso de que alguien retire sus fondos de manera fraudulenta por medio de los servicios en línea.
                </p>
            </div>
        </div>

        <div class="row my-4">
            <div class="col ms-3 px-1 py-4 bg-dark" onclick="show_cargo7()">
                <div class="d-inline p-4 bg-primary text-white">
                    <p class="d-inline">7</p>
                </div>
                <div class="d-inline p-4 bg-dark text-white pe">
                    <p class="d-inline">¿Está disponible la Banca Móvil?</p>
                </div>
            </div>
            <div id="cargo7" class="row my-4 px-4">
                <p style="text-align: justify">
                    Algunos bancos tienen aplicaciones (apps) móviles para efectuar transacciones bancarias cómodamente sobre la marcha. Por ejemplo, podría depositar cheques tomándoles fotos con su teléfono. Es bueno que lea los comentarios sobre la app de su banco para
                    conocer los servicios específicos que ofrecen, ya que pueden variar.
                </p>
            </div>
        </div>

        <div class="row my-4">
            <div class="col ms-3 px-1 py-4 bg-dark" onclick="show_cargo8()">
                <div class="d-inline p-4 bg-primary text-white">
                    <p class="d-inline">8</p>
                </div>
                <div class="d-inline p-4 bg-dark text-white pe">
                    <p class="d-inline">¿Tendré que pagar al transferir dinero?</p>
                </div>
            </div>
            <div id="cargo8" class="row my-4 px-4">
                <p style="text-align: justify">
                    Muchos bancos no le cobran por pagar sus facturas directamente desde su cuenta de cheques. Si envía dinero a familiares o amigos, los bancos por lo general no le cobran si ofrecen un servicio de transferencia de persona a persona por medio de la app móvil
                    o la banca en línea. Sin embargo, si necesita hacer una transferencia de dinero por cable a una persona o negocio fuera del banco, puede ser que le cobren un cargo.
                </p>
            </div>
        </div>

        <div class="row my-4">
            <div class="col ms-3 px-1 py-4 bg-dark" onclick="show_cargo9()">
                <div class="d-inline p-4 bg-primary text-white">
                    <p class="d-inline">9</p>
                </div>
                <div class="d-inline p-4 bg-dark text-white pe">
                    <p class="d-inline">¿Tengo que pagar por cheques o por tarjetas de reemplazo?</p>
                </div>
            </div>
            <div id="cargo9" class="row my-4 px-4">
                <p style="text-align: justify">
                    En muchos bancos su primera chequera es gratis, pero seguramente tendrá que pagar por el resto. Algunos bancos también le cobran por reemplazar tarjetas de débito extraviadas o robadas. Además, algunos bancos limitan la cantidad de cheques de su cuenta
                    que puede hacer cada mes, y le cobran un cargo si sobrepasa esa cantidad.
                </p>
            </div>
        </div>

        <div class="row my-4">
            <div class="col ms-3 px-1 py-4 bg-dark" onclick="show_cargo10()">
                <div class="d-inline p-4 bg-primary text-white">
                    <p class="d-inline">10</p>
                </div>
                <div class="d-inline p-4 bg-dark text-white pe">
                    <p class="d-inline">¿Me pagan intereses con la cuenta?</p>
                </div>
            </div>
            <div id="cargo10" class="row my-4 px-4">
                <p style="text-align: justify">
                    Por lo general, si las cuentas de cheques pagan interés, la tasa es muy baja. Las cuentas de cheques de alto rendimiento ofrecen un interés más alto pero normalmente requieren tener saldos más altos. Las cuentas de ahorros ofrecen tasas más altas, pero
                    debido a que su objetivo es ahorrar, están sujetas a diferentes reglas. Las regulaciones federales, que aplican a todos los bancos, limitan la cantidad de retiros que puede hacer de las cuentas de ahorros cada mes, y es posible que
                    algunos bancos le cobren por retiros de ahorros frecuentes. Es buena idea revisar el acuerdo de depósito de su banco y cualquier otra divulgación para determinar lo que se aplica. Puede hacerlo mientras revisa qué tasa de interés paga
                    la cuenta.
                </p>
            </div>
        </div>
    </div>
</div>

<footer class="py-3 my-4">
    <b>
        <p class="text-center">© 2021 Cibertec, Desarrollo de Servicios Web</p>
    </b>
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
    </ul>
</footer>