<div class="modal-header cabecera-modal text-white">
    <p class="modal-title" id="modal-basic-title">Responder</p>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="cerrar()">
    </button>
</div>

<div class="modal-body">
    <form [formGroup]="form" novalidate>
        <div class="form-row">
            <div class="form-group col-lg-12">
                <label class="item">Consulta del Cliente</label>
                <div class="form-row">
                    <div class="col">
                        <textarea name="" id="" cols="10" rows="10" class="form-control col-lg-12" formControlName="desConsulta" maxlength="500" readonly></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-12">
                <label class="item">Escriba su respuesta</label>
                <div class="form-row">
                    <div class="col">
                        <textarea name="" id="" cols="10" rows="10" class="form-control col-lg-12" formControlName="desRespuesta" placeholder="Escriba su respuesta" maxlength="500"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group  col-lg-6">
                    <label class="mt-3">Cambiar Estado</label>
                    <ng-select id="estado" appearance="outline" placeholder="Seleccione" [searchable]="true" formControlName="estado">
                        <ng-option *ngFor="let estado of lstEstado" [value]="estado.codEstado">
                            {{estado.desEstado}}
                        </ng-option>
                    </ng-select>
                </div>

                <div class="col-lg-6">
                    <label class="item" class="mt-3">Fecha Respuesta</label>
                    <div class="form-row">
                        <div class="col">
                            <input type="text" class="form-control mb-3" id="fechaRespuesta" formControlName="fechaRespuesta" readonly>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-6 text-right">
                <button type="button" class="btn btn-primary col-sm-6" (click)="responder()">Responder</button>
            </div>
        </div>
    </form>
</div>