<div class="container">
  <form class="mt-3 px-4" [formGroup]="formCliente" novalidate>
    <div class="row">
      <div class="col-md-6">
        <span class="subtitulo-principal">Registrar cliente</span>
      </div>
      <div class="col-md-6" style="text-align: right;">
        <i class="fa fa-info-circle px-4" aria-hidden="true" style="color:red;">
          <span><strong>Ayuda</strong></span>
        </i>
      </div>
    </div>

    <hr>

    <label class="mb-3 text-muted"> Ingrese sus datos personales </label>
    <div class="row">
      <div class="col-md-6">
        <label class="mb-2"> <strong>Nombres</strong></label>
        <input type="text" class="form-control" placeholder="Nombres" formControlName="nomCliente" pattern="^[a-zA-ZáéíóúÁÉÍÓÚ]{1,30}$" autocomplete="off"
          [class.is-invalid]="fieldNombreCliente.invalid && fieldNombreCliente.touched" />
        <div class='invalid-feedback' *ngIf='fieldNombreCliente.invalid'>
          <ng-container *ngIf="fieldNombreCliente.hasError('required')">
            {{msg}}
          </ng-container>
          <ng-container *ngIf="fieldNombreCliente.hasError('pattern')">
            No se aceptan números o caracteres especiales
          </ng-container>
        </div>

        <div>
          <label class="mb-2 mt-3"> <strong>Apellidos</strong></label>
          <input type="text" class="form-control" placeholder="Apellidos" formControlName="apeCliente" pattern="^[a-zA-ZáéíóúÁÉÍÓÚ]{1,30}$" autocomplete="off"
            [class.is-invalid]="fieldApellidoCliente.invalid && fieldApellidoCliente.touched" />
          <div class='invalid-feedback' *ngIf='fieldApellidoCliente.invalid'>
            <ng-container *ngIf="fieldApellidoCliente.hasError('required')">
              {{msg}}
            </ng-container>
            <ng-container *ngIf="fieldApellidoCliente.hasError('pattern')">
              No se aceptan números o caracteres especiales
            </ng-container>
          </div>
        </div>

        <div>
          <label class="mb-2 mt-3" for="dniCliente"><strong>Documento Nacional de Identidad</strong></label>
          <input type="text" class="form-control" placeholder="DNI" formControlName="dniCliente" id="dniCliente" pattern="^[0|1|2|4|6|7]{1}[0-9]{7}$"
            autocomplete="off" maxlength="8" (keypress)="onlyNumberKey($event)"
            [class.is-invalid]="fieldDniCliente.invalid && fieldDniCliente.touched" />
          <div class='invalid-feedback'>
            <ng-container *ngIf="fieldDniCliente.hasError('required')">
              {{msg}}
            </ng-container>
            <ng-container *ngIf="fieldDniCliente.hasError('pattern')">
              Formato DNI inválido
            </ng-container>
          </div>
        </div>

        <div>
          <label class="mb-2 mt-3" for="fonoCliente"> <strong>Teléfono</strong></label>
          <input type="text" class="form-control" placeholder="Teléfono" formControlName="fonoCliente" id="fonoCliente"
            autocomplete="off" maxlength="9" (keypress)="onlyNumberKey($event)"
            [class.is-invalid]="fieldFonoCliente.invalid && fieldFonoCliente.touched" pattern="^[9][0-9]{8}$" />
          <div class='invalid-feedback'>
            <ng-container *ngIf="fieldFonoCliente.hasError('required')">
              {{msg}}
            </ng-container>
            <ng-container *ngIf="fieldFonoCliente.hasError('pattern')">
              Formato Teléfono inválido
            </ng-container>
          </div>
        </div>

        <div>
          <label class="mb-2 mt-3"> <strong>Correo Electrónico</strong></label>
          <input type="email" class="form-control" placeholder="Correo Electrónico" formControlName="emailCliente"
            id="emailCliente" autocomplete="off"
            [class.is-invalid]="fieldCorreoElectronico.invalid && fieldCorreoElectronico.touched" />
          <div class='invalid-feedback'>
            <ng-container *ngIf="fieldCorreoElectronico.hasError('required')">
              {{msg}}
            </ng-container>
          </div>
        </div>

        <div>
          <label class="mb-2 mt-3"> <strong>Contraseña</strong></label>
          <input type="password" class="form-control" placeholder="Contraseña" formControlName="passCliente"
            autocomplete="off" [class.is-invalid]="fieldContrasena.invalid && fieldContrasena.touched" />
          <div class='invalid-feedback'>
            <ng-container *ngIf="fieldContrasena.hasError('required')">
              {{msg}}
            </ng-container>
          </div>
        </div>

        <button class="btn btn-primary mt-5 col-md-12" (click)="registrar()"> Registrar </button>
        <hr>
        <button class="btn btn-success mt-2 col-md-12" (click)="volver()"> Volver </button>
      </div>
      <br>
      <div class="col-md-6">
        <img src="./assets/Logo.jpg" alt="" class="px-5 mt-3">
      </div>
      <br>
    </div>

    <hr>
  </form>

  <ng-container *ngIf="bool">
    <p>Usuario correcto</p>
  </ng-container>
</div>