<div class="modal-header cabecera-modal text-white">
    <p class="modal-title" id="modal-basic-title">Agregar Consulta</p>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="cerrar()">
    </button>
</div>

<div class="modal-body">
    <form [formGroup]="form" novalidate>
        <div class="form-row">
            <div class="form-group col-lg-12 mb-3">
                <label class="item">Escriba su consulta</label>
                <div class="form-row">
                    <div class="col">
                        <textarea name="" id="" cols="10" rows="10" class="form-control col-lg-12" formControlName="desConsulta" placeholder="Escriba su consulta" maxlength="500" [class.is-invalid]="getDesNoValido()"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group  col-lg-6 mb-3 mt-5">
                    <label class="mt-5">Seleccione Categoria</label>
                    <ng-select id="categoria" appearance="outline" placeholder="Seleccione" [searchable]="true" formControlName="categoria">
                        <ng-option *ngFor="let cate of lstCategoria" [value]="cate.codCategoria">
                            {{cate.desCategoria}}
                        </ng-option>
                    </ng-select>
                </div>
                <div class="form-group col-sm-6">
                    <div class="form-row">
                        <div class="col">
                            <button type="button" class="btn btn-primary col-sm-12" (click)="pagar()" [disabled]="disabledPagarButton()">Pagar</button>
                            <input class="form-check-input text-muted" type="checkbox" id="flexCheckDefault" (change)="pagoisChecked($event)" [checked]="pagoRealizado" disabled> Pago Realizado
                            <br>
                            <br>
                            <label class="item mt-3">Precio por categoria</label>
                            <input type="text" class="form-control " id="precioCategoria" formControlName="precioCategoria" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">

                <label class="item">Fecha Consulta</label>
                <div class="form-row">
                    <div class="col">
                        <input type="text" class="form-control mb-3" id="fechaConsulta" formControlName="fechaConsulta" readonly>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 text-right">
                <button type="button" class="btn btn-primary col-sm-6" (click)="agregar()" [disabled]="disabledButton()">Agregar</button>
            </div>
        </div>
    </form>
    <ngx-spinner></ngx-spinner>
</div>