<div class="modal-header bg-primary text-white">
    <p class="modal-title" id="modal-basic-title"> {{titulo}}</p>
</div>
<div class="modal-body">
    {{mensaje}}
</div>
<div class="modal-footer">
    <button type="button" class='btn btn-outline-secondary' (click)="cancelar()">{{labelBtnLeft}}</button>
    <button type="button" class="btn btn-primary" (click)="aceptar()">{{labelbtnRight}}</button>
</div>