<div class="container">
    <div class="row">
        <div class="col-md-6">
            <span class="subtitulo-principal">Agregar una consulta</span>
        </div>
        <div class="col-md-6 px-0" style="text-align: right;">
            <button class="btn mt-2 col-md-3">
            <i class="bi bi-info-circle-fill" aria-hidden="true" style="color:red;">
                    <span><strong>Ayuda</strong></span>
                </i>
            </button>
            <div class="col-sm-3 ms-3" style="float: right;">
                <button class="btn btn-primary mt-2 col-md-12" (click)="salir()"> Salir </button>
            </div>
        </div>

    </div>

    <hr>

    <div class="row">
        <div class="col-md-3">
            <button class="btn btn-success mt-2 col-md-12" (click)="agregar()"> Agregar Consulta </button>
        </div>
    </div>
    <hr>
    <div class="row mt-2">
        <div class="table-responsive">
            <table class="table table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                <thead>
                    <tr>
                        <th>Código Consulta</th>
                        <th>Categoria</th>
                        <th>Precio</th>
                        <th>Estado</th>
                        <th>Fecha de la consulta</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of lstRegistro; let i = index">
                        <td>{{item.codConsulta}}</td>
                        <td>{{item.categoria.desCategoria}}</td>
                        <td>S/ {{item.categoria.precioCategoria}}</td>
                        <td>{{item.estado.desEstado}}</td>
                        <td>{{fechaConsulta(item.fechaConsulta)}}</td>
                        <td>
                            <a style="cursor: pointer" class="text-dark">
                                <i class="bi bi-pencil-fill" (click)="editar(item, i)"></i>
                            </a>
                        </td>
                        <td>
                            <a type="button">
                                <i class="bi bi-eye" (click)="verConsulta(item)"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <ngx-spinner></ngx-spinner>
</div>