<div class="modal-header cabecera-modal text-white">
    <p class="modal-title" id="modal-basic-title">Agregar Pago</p>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="cerrar()">
    </button>
</div>

<div class="modal-body">
    <form [formGroup]="form" class="credit-card-div">
        <div class="panel panel-default">
            <div class="panel-heading">

                <div class="row ">
                    <div class="col-md-12">
                        <input type="text" class="form-control" placeholder="Ingrese el número de su tarjeta" formControlName="numTarjeta"
                               pattern="[3-5][0-9]{15}$" maxlength="16" (keypress)="onlyNumberKey($event)"
                               [class.is-invalid]="fieldNumTarjeta.invalid && fieldNumTarjeta.touched"/>
                        <div class='invalid-feedback' *ngIf='fieldNumTarjeta.invalid'>
                          <ng-container *ngIf="fieldNumTarjeta.hasError('required')">
                            Campo requerido
                          </ng-container>
                          <ng-container *ngIf="fieldNumTarjeta.hasError('pattern')">
                            Nro tarjeta no válido
                          </ng-container>
                      </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <span class="help-block text-muted small-font"> Mes de expiración</span>
                        <input type="text" class="form-control" placeholder="MM" formControlName="monthExp" pattern="^[0][1-9]$|^[1][0-2]$" maxlength="2"
                               (keypress)="onlyNumberKey($event)"
                               [class.is-invalid]="fieldMonthExp.invalid && fieldMonthExp.touched"/>
                        <div class='invalid-feedback' *ngIf='fieldMonthExp.invalid'>
                          <ng-container *ngIf="fieldMonthExp.hasError('required')">
                            Campo requerido
                          </ng-container>
                          <ng-container *ngIf="fieldMonthExp.hasError('pattern')">
                            Mes expiración no válido
                          </ng-container>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <span class="help-block text-muted small-font"> Año de expiración</span>
                        <input type="text" class="form-control" placeholder="YY" formControlName="yearExp" pattern="^[2][0][2][1-7]$" maxlength="4"
                               (keypress)="onlyNumberKey($event)"
                               [class.is-invalid]="fieldYearExp.invalid && fieldYearExp.touched"/>
                        <div class='invalid-feedback' *ngIf='fieldYearExp.invalid'>
                          <ng-container *ngIf="fieldYearExp.hasError('required')">
                            Campo requerido
                          </ng-container>
                          <ng-container *ngIf="fieldYearExp.hasError('pattern')">
                            Año expiración no válido
                          </ng-container>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <span class="help-block text-muted small-font"> CCV</span>
                        <input type="text" class="form-control" placeholder="CCV" formControlName="ccv" pattern="^[1-9][0-9]{2,3}$" maxlength="4"
                               [class.is-invalid]="fieldCcv.invalid && fieldCcv.touched"/>
                        <div class='invalid-feedback' *ngIf='fieldCcv.invalid'>
                          <ng-container *ngIf="fieldCcv.hasError('required')">
                            Campo requerido
                          </ng-container>
                          <ng-container *ngIf="fieldCcv.hasError('pattern')">
                            CVV no válido
                          </ng-container>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <img src="assets/tarjetaCredito.png" class="img-rounded" />
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-12 pad-adjust">
                        <input type="text" class="form-control" placeholder="Nombre del titular" formControlName="nomTitular" pattern="^[a-zA-ZáéíóúÁÉÍÓÚ ]{1,40}$"
                               maxlength="40"
                               [class.is-invalid]="fieldNomTitular.invalid && fieldNomTitular.touched"/>
                        <div class='invalid-feedback' *ngIf='fieldNomTitular.invalid'>
                          <ng-container *ngIf="fieldNomTitular.hasError('required')">
                            Campo requerido
                          </ng-container>
                          <ng-container *ngIf="fieldNomTitular.hasError('pattern')">
                            Nombre titular no válido
                          </ng-container>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                        <input type="submit" class="btn btn-danger" value="Cancelar" (click)="cerrar()" />
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                        <input type="submit" class="btn btn-warning btn-block" value="Pagar" (click)="pagar()" />
                    </div>
                </div>

            </div>
        </div>
    </form>
    <ngx-spinner></ngx-spinner>
</div>
