<div class="container">
    <form class="mt-3 px-4" [formGroup]="form">
        <div class="row">
            <div class="col-md-6">
                <span class="subtitulo-principal">Ingresar al sistema</span>
            </div>
            <div class="col-md-6 px-0" style="text-align: right;">
                <button class="btn mt-2 col-md-3">
                <i class="bi bi-info-circle-fill" aria-hidden="true" style="color:red;">
                        <span><strong>Ayuda</strong></span>
                    </i>
                </button>
                <div class="col-sm-3 ms-3" style="float: right;">
                    <button class="btn btn-primary mt-2 col-md-12" (click)="salir()"> Salir </button>
                </div>
            </div>
        </div>

        <hr>

        <label class="mb-3 text-muted"> Ingrese sus credenciales </label>
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center">
                <div class="col-md-10">

                  <div>
                    <label class="mb-2"> <strong>Correo electrónico</strong></label>
                    <input type="text" class="form-control" placeholder="Correo electrónico" formControlName="correoElectronico" (click)="limpiar()"
                           [class.is-invalid]="fieldCorreoElectronico.invalid && fieldCorreoElectronico.touched"/>
                    <div class='invalid-feedback' *ngIf='fieldCorreoElectronico.invalid'>
                      <ng-container *ngIf="fieldCorreoElectronico.hasError('required')">
                        Campo requerido
                      </ng-container>
                    </div>
                  </div>

                  <div>
                    <label class="mb-2 mt-3"> <strong>Contraseña</strong></label>
                    <input type="password" class="form-control" placeholder="Contraseña" formControlName="contraseña" (click)="limpiar()"
                           [class.is-invalid]="fieldContrasena.invalid && fieldContrasena.touched"/>
                    <div class='invalid-feedback' *ngIf='fieldContrasena.invalid'>
                      <ng-container *ngIf="fieldCorreoElectronico.hasError('required')">
                        Campo requerido
                      </ng-container>
                    </div>
                  </div>

                    <button class="btn btn-primary mt-5 col-md-12" (click)="ingresar()"> Ingresar </button>
                    <hr>
                    <button class="btn btn-success mt-2 col-md-12" (click)="registrar()"> Registrarse </button>
                    <ng-container *ngIf="existeExcepcion">
                        <div class="alert alert-danger mt-3">Correo Electrónico o contraseña incorrecta.</div>
                    </ng-container>
                </div>
            </div>
            <br>
            <div class="col-md-6">
                <img src="./assets/Logo.jpg" alt="" class="px-5 mt-3">
            </div>
            <br>
        </div>

        <hr>
    </form>
    <ngx-spinner></ngx-spinner>
</div>
