<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" (click)="inicio()" style="cursor: pointer;">Inicio</a>
                </li>
            </ul>
            <form class="d-flex">
                <a class="btn btn-outline-success" href="login.jsp" (click)="ingresar()" style="cursor: pointer;">Ingresar</a>
            </form>
        </div>
    </div>
</nav>
<div class="col my-5 px-2" style="margin-left: 22%; margin-right: 22%; background-color: white">
    <div class="row">
        <h2 class="mb-4" style="color: #E66437">Explicación de 7 cargos bancarios comunes</h2>
        <p style="text-align: justify">
            Si alguna vez pensó que su banco le aplicó algún cargo y no se lo esperaba, esta lista es para usted. Aquí tiene un resumen de los siete cargos bancarios más comunes y los consejos para ayudarle a evitarlos.
        </p>
    </div>

    <div class="row">
        <div class="row my-4">
            <div class="col ms-3 px-1 py-4 bg-dark" onclick="show_cargo1()">
                <div class="d-inline p-4 bg-primary text-white">
                    <p class="d-inline">1</p>
                </div>
                <div class="d-inline p-4 bg-dark text-white pe">
                    <p class="d-inline">Mantenimiento de cuenta y saldo mínimo</p>
                </div>
            </div>
            <div id="cargo1" class="row my-4 px-4">
                <p style="text-align: justify">
                    Muchos bancos aplican cargos por mantener cuentas de cheques o ahorros.
                </p>
                <p style="text-align: justify">
                    <b>¿Cuánto?</b> De $5 a $25 al mes. Las cuentas con más servicios, como las cuentas con recompensas, pueden cobrar más.
                </p>
                <p style="text-align: justify">
                    <b>¿Puede evitarlo?</b> Con frecuencia los bancos no aplican su cargo si usted mantiene una cantidad mínima en su cuenta o reúne otros requisitos, como vincular cuentas de cheques y ahorros. Algunos bancos podrían requerir un saldo
                    mínimo y aplicar un cargo si usted no lo mantiene.
                </p>
            </div>
        </div>

        <div class="row my-4">
            <div class="col ms-3 px-1 py-4 bg-dark" onclick="show_cargo2()">
                <div class="d-inline p-4 bg-primary text-white">
                    <p class="d-inline">2</p>
                </div>
                <div class="d-inline p-4 bg-dark text-white pe">
                    <p class="d-inline">Cajero Automático (ATM)</p>
                </div>
            </div>
            <div id="cargo2" class="row my-4 px-4">
                <p style="text-align: justify">
                    Usar cajeros ATM que no estén afiliados con su banco puede resultar en cargos por parte del proveedor del cajero ATM y de su banco.
                </p>
                <p style="text-align: justify">
                    <b>¿Cuánto?</b> Por una sola transacción, podría pagar hasta $4 al proveedor del cajero ATM y $4 a su banco.
                </p>
                <p style="text-align: justify">
                    <b>¿Puede evitarlo?</b> Muchos bancos ofrecen apps que le indican dónde encontrar un cajero ATM sin cargo. O puede retirar un adelanto de dinero en efectivo cuando se encuentre cerca del cajero ATM de su banco.
                </p>
            </div>
        </div>

        <div class="row my-4">
            <div class="col ms-3 px-1 py-4 bg-dark" onclick="show_cargo3()">
                <div class="d-inline p-4 bg-primary text-white">
                    <p class="d-inline">3</p>
                </div>
                <div class="d-inline p-4 bg-dark text-white pe">
                    <p class="d-inline">Sobregiros</p>
                </div>
            </div>
            <div id="cargo3" class="row my-4 px-4">
                <p style="text-align: justify">
                    La cobertura o protección contra sobregiros permite que las compras sean autorizadas, con un cargo respectivo, aun si no cuenta con fondos suficientes en su cuenta de cheques.
                </p>
                <p style="text-align: justify">
                    <b>¿Cuánto?</b> Unos $35, si se inscribió para la cobertura contra sobregiros de su banco. Su banco también podría ofrecer protección contra sobregiros, en la que el dinero proviene de una cuenta de ahorros vinculada, tarjeta de crédito,
                    segunda cuenta de cheques o línea de crédito para cubrir sobregiros. Por lo general este cargo es más bajo que el cargo de cobertura contra sobregiros.
                </p>
                <p style="text-align: justify">
                    <b>¿Puede evitarlo?</b> Procure usar alertas de saldo bajo para prevenir sobregirarse.
                </p>
            </div>
        </div>

        <div class="row my-4">
            <div class="col ms-3 px-1 py-4 bg-dark" onclick="show_cargo4()">
                <div class="d-inline p-4 bg-primary text-white">
                    <p class="d-inline">4</p>
                </div>
                <div class="d-inline p-4 bg-dark text-white pe">
                    <p class="d-inline">Falta de fondos</p>
                </div>
            </div>
            <div id="cargo4" class="row my-4 px-4">
                <p style="text-align: justify">
                    Cuando realiza una compra u otra transacción por más de la cantidad que tiene en su cuenta de cheques o de ahorros, y no se ha inscrito en un programa contra sobregiros, el banco puede declinar el cargo o devolverlo sin pagar.
                </p>
                <p style="text-align: justify">
                    <b>¿Cuánto?</b> Un cargo por falta de fondos o por partida devuelta puede ser de $35. El beneficiario de su pago también podría aplicarle un cargo.
                </p>
                <p style="text-align: justify">
                    <b>¿Puede evitarlo?</b> Procure usar alertas de saldos bajos para que le notifiquen cuando su cuenta esté baja de fondos.
                </p>
            </div>
        </div>

        <div class="row my-4">
            <div class="col ms-3 px-1 py-4 bg-dark" onclick="show_cargo5()">
                <div class="d-inline p-4 bg-primary text-white">
                    <p class="d-inline">5</p>
                </div>
                <div class="d-inline p-4 bg-dark text-white pe">
                    <p class="d-inline">Exceso de transacciones</p>
                </div>
            </div>
            <div id="cargo5" class="row my-4 px-4">
                <p style="text-align: justify">
                    Muchos bancos ponen un límite al número de retiros mensuales que puede hacer de algunas cuentas, normalmente cuentas de ahorros o de money market. Después de cierto número, su banco podría cobrarle.
                </p>
                <p style="text-align: justify">
                    <b>¿Cuánto?</b> De $3 a $25 por transacción. La cantidad podría aumentar con transacciones adicionales.
                </p>
                <p style="text-align: justify">
                    <b>¿Puede evitarlo?</b> No utilice su cuenta de ahorros para retiros cotidianos y pago de cuentas. Mejor use una cuenta de cheques.
                </p>
            </div>
        </div>

        <div class="row my-4">
            <div class="col ms-3 px-1 py-4 bg-dark" onclick="show_cargo6()">
                <div class="d-inline p-4 bg-primary text-white">
                    <p class="d-inline">6</p>
                </div>
                <div class="d-inline p-4 bg-dark text-white pe">
                    <p class="d-inline">Mantenimiento de cuenta y saldo mínimo</p>
                </div>
            </div>

            <div id="cargo6" class="row my-4 px-4">
                <p style="text-align: justify">
                    Muchos bancos aplican cargos por mantener cuentas de cheques o ahorros.
                </p>
                <p style="text-align: justify">
                    <b>¿Cuánto?</b> De $5 a $25 al mes. Las cuentas con más servicios, como las cuentas con recompensas, pueden cobrar más.
                </p>
                <p style="text-align: justify">
                    <b>¿Puede evitarlo?</b> Con frecuencia los bancos no aplican su cargo si usted mantiene una cantidad mínima en su cuenta o reúne otros requisitos, como vincular cuentas de cheques y ahorros. Algunos bancos podrían requerir un saldo
                    mínimo y aplicar un cargo si usted no lo mantiene.
                </p>
            </div>
        </div>

        <div class="row my-4">
            <div class="col ms-3 px-1 py-4 bg-dark" onclick="show_cargo7()">
                <div class="d-inline p-4 bg-primary text-white">
                    <p class="d-inline">7</p>
                </div>
                <div class="d-inline p-4 bg-dark text-white pe">
                    <p class="d-inline">Cierre de cuenta</p>
                </div>
            </div>

            <div id="cargo7" class="row my-4 px-4">
                <p style="text-align: justify">
                    Algunos bancos requieren que conserve su cuenta abierta por un periodo determinado de tiempo o bien asuma un cargo por cierre prematuro de cuenta.
                </p>
                <p style="text-align: justify">
                    <b>¿Cuánto?</b> Hasta $25.
                </p>
                <p style="text-align: justify">
                    <b>¿Puede evitarlo?</b> Para evitar el cargo, por lo general debe mantener abierta su cuenta de 90 a 180 días antes de cancelarla.
                </p>
            </div>
        </div>
    </div>
</div>

<footer class="py-3 my-4">
    <b>
        <p class="text-center">© 2021 Cibertec, Desarrollo de Servicios Web</p>
    </b>
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
    </ul>
</footer>