<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" (click)="inicio()" style="cursor: pointer;">Inicio</a>
                </li>
            </ul>
            <form class="d-flex">
                <a class="btn btn-outline-success" (click)="ingresar()" role="button">Ingresar</a>
            </form>
        </div>
    </div>
</nav>

<div class="col">
    <div class="row mx-5 my-4">
        <div class="col mx-4">
            <h4 style="color: #012A8C" class="mb-4">Reglas de oro para tener un presupuesto exitoso:</h4>
            <ol>
                <li class="my-2 mx-3">
                    <b>Usa una herramienta física o digital.</b> La mente es frágil por eso mejor usa un cuaderno, aplicativo o Excel para hacer tu presupuesto y poder llevar un control adecuado a tus gastos.
                </li>
                <li class="my-2 mx-3">
                    <b>Haz un presupuesto realista.</b> No le saques la vuelta a la información que coloques en tu presupuesto; no coloques ni más ni menos de lo que ganas o gastas.
                </li>
                <li class="my-2 mx-3">
                    <b>Lleva el control de tus gastos.</b> Sé cuidadoso, apunta los gastos que vas haciendo y compáralos versus tu presupuesto; así sabrás qué tan bien está funcionando o no y no esperes a llegar a fin de mes para hacer este ejercicio.
                </li>
                <li class="my-2 mx-3">
                    <b>Sé puntual al pagar tus deudas.</b> Ya sea que hablemos de servicios, la mensualidad del colegio, el pago de préstamos, tarjetas de crédito, etc. Es importante que tengas una alarma y pagues tus deudas a tiempo para evitar pagar
                    comisiones adicionales.
                </li>
                <li class="my-2 mx-3">
                    <b>Reduce los gastos innecesarios.</b> Realiza ajustes a tiempo para salvar dinero cuanto antes y no llegar ajustado a fin de mes.
                </li>
            </ol>
        </div>
        <div class="col d-flex justify-content-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/5P3HttbxApw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
<div class="col mx-5 mt-5">
    <div class="row mx-5 mt-5">
        <div class="col mx-5">
            <div class="col d-flex justify-content-center mb-4">
                <h2 style="color: #012A8C">Preguntas Frecuentes</h2>
            </div>
            <!-- Preguntas -->
            <div class="mx-5">
                <!-- Contenido -->
                <div class="acordeon">
                    <div class="d-grid gap-1">
                        <button class="btn btn-primary py-3 mb-1" type="button" onclick="show_element1()">¿Qué es un presupuesto?</button>
                    </div>
                    <span id="element1" class="contenido-acordeon">
                                <p class="mx-4 my-5" style="text-align: justify">
                                    Un presupuesto es una herramienta que nos permite planificar mejor nuestros gastos a nivel 
                                    personal y familiar. Nos ayuda a identificar nuestros ingresos, priorizar nuestros gastos y 
                                    destinar una parte al ahorro.
                                </p>
                            </span>
                </div>
                <div class="acordeon">
                    <div class="d-grid gap-1">
                        <button class="btn btn-primary py-3 mb-1" type="button" onclick="show_element2()">¿Por qué es importante realizar un presupuesto?</button>
                    </div>
                    <span id="element2" class="contenido-acordeon"> 
                                <ul class="lista-check my-5">
                                    <li class="mx-4 mb-3">
                                        Te ayuda a identificar los ingresos, y planificar los gastos del mes.
                                    </li>
                                    <li class="mx-4 mb-3">
                                        Te ayuda a realizar un control detallado de tus gastos.
                                    </li>
                                    <li class="mx-4 mb-3">
                                        Te permite detectar gastos innecesarios, para reducirlos o eliminarlos.
                                    </li>
                                    <li class="mx-4 mb-3">
                                        Te permite identificar tu capacidad de pago para futuras deudas.
                                    </li>
                                    <li class="mx-4 mb-3">
                                        Te permite identificar tu potencial de ahorro.
                                    </li>
                                </ul>        
                            </span>
                </div>
                <div class="acordeon">
                    <div class="d-grid gap-1">
                        <button class="btn btn-primary py-3 mb-1" type="button" onclick="show_element3()">¿Qué es el fondo de emergencia?</button>
                    </div>
                    <span id="element3" class="contenido-acordeon">
                                <p class="mx-4 my-5" style="text-align: justify">
                                    Es dinero ahorrado que te servirá como un salvavidas financiero ante situaciones de emergencia; por eso, 
                                    debes asignar a este fondo, como mínimo, el 10% de tus ingresos del mes. Recuerda que este dinero te ayudará a 
                                    cubrir gastos inesperados como pérdida del trabajo, problemas de salud, crisis económicas, entre otros. 
                                    Lo recomendable es construir un fondo de entre 3 a 6 veces tu sueldo. 
                                </p>

                            </span>
                </div>
                <div class="acordeon">
                    <div class="d-grid gap-1">
                        <button class="btn btn-primary py-3 mb-1" type="button" onclick="show_element4()">¿Qué son los gastos hormiga?</button>
                    </div>
                    <span id="element4" class="contenido-acordeon">
                                <p class="mx-4 my-5" style="text-align: justify">
                                    Son pequeños gastos que no son realmente necesarios; sin embargo, los hacemos en el día a día para 
                                    satisfacer esos pequeños antojos o “gustitos”. Muchas veces creemos que no afectan en nuestro 
                                    presupuesto, pero, si hacemos el ejercicio de sumarlos a fin de mes, veremos que es un monto 
                                    considerable. Por eso, hay que tener cuidado y gastar solo lo necesario. 
                                </p>

                            </span>
                </div>
                <div class="acordeon">
                    <div class="d-grid gap-1">
                        <button class="btn btn-primary py-3 mb-1" type="button" onclick="show_element5()">¿Qué hacer si luego de hacer mi presupuesto tengo saldo a favor?</button>
                    </div>
                    <span id="element5" class="contenido-acordeon"> 
                                <p class="mx-4 my-5" style="text-align: justify">
                                    Te recomendamos que guardes ese dinero y lo ahorres para cumplir un plan, ya sea a corto, 
                                    mediano o largo plazo. Este ahorro podría servir para un viaje familiar, comprar un regalo de 
                                    cumpleaños anticipadamente, pagar la inicial de un departamento o pagar los estudios de los hijos.  
                                </p>
                            </span>
                </div>
                <div class="acordeon">
                    <div class="d-grid gap-1">
                        <button class="btn btn-primary py-3 mb-1" type="button" onclick="show_element6()">¿Qué hacer si luego de hacer mi presupuesto tengo saldo negativo?</button>
                    </div>
                    <span id="element6" class="contenido-acordeon">
                                <p class="mx-4 my-5" style="text-align: justify">
                                    Para remediar estos problemas económicos, lo primero que debes hacer es identificar los gastos que 
                                    puedes reducir; empieza revisando los gastos variables: las salidas los fines de semana, como al 
                                    cine o restaurantes, las compras de ropa que no están dentro de lo estrictamente necesario o el 
                                    movilizarte en taxi para ir al trabajo, por ejemplo. Aquí es donde debes hacer un análisis a 
                                    conciencia de estos gastos para determinar hasta qué nivel puedes aminorar su existencia. Hecho 
                                    esto lo siguiente que debes reducir o eliminar son los gastos hormiga, ya sabes, esos “gustitos” 
                                    que pensamos que son inevitables, como el café de las mañanas en tu local favorito o los snacks.
                                </p>
                            </span>
                </div>
            </div>
        </div>
    </div>

</div>

<footer class="py-3 my-4">
    <b><p class="text-center" >© 2021 Cibertec, Desarrollo de Servicios Web</p></b>
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
    </ul>
</footer>