<div class="modal-header cabecera-modal text-white">
    <p class="modal-title" id="modal-basic-title">Agregar Estado</p>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="cerrar()">
    </button>
</div>

<div class="modal-body">
    <form [formGroup]="form" novalidate>
        <div class="row">
            <div class="col-md-6">
                <label class="item">Código estado</label>
                <div class="form-row">
                    <div class="col">
                        <input type="text" class="form-control mb-3" id="codEstado" formControlName="codEstado" readonly>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <label class="item">Descripción estado</label>
                <div class="form-row">
                    <div class="col">
                        <input type="text" class="form-control mb-3" id="desEstado" formControlName="desEstado" autocomplete="off" pattern="^[a-zA-ZáéíóúÁÉÍÓÚ]{1,20}$"
                               [class.is-invalid]="fieldDesEstado.invalid && fieldDesEstado.touched">
                      <div class='invalid-feedback' *ngIf='fieldDesEstado.invalid'>
                        <ng-container *ngIf="fieldDesEstado.hasError('required')">
                          Campo requerido
                        </ng-container>
                      </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 text-right">
                <button type="button" class="btn btn-primary col-sm-6" (click)="agregar()">Agregar</button>
            </div>
        </div>
    </form>
</div>
