<div class="container">
    <div class="row">
        <div class="col-md-6">
            <span class="subtitulo-principal">Mantenimiento de Administrador</span>
        </div>
        <div class="col-md-6 px-0" style="text-align: right;">
            <button class="btn mt-2 col-md-3">
            <i class="bi bi-info-circle-fill" aria-hidden="true" style="color:red;">
                    <span><strong>Ayuda</strong></span>
                </i>
            </button>
            <div class="col-sm-3 ms-3" style="float: right;">
                <button class="btn btn-primary mt-2 col-md-12" (click)="salir()"> Salir </button>
            </div>
        </div>
    </div>

    <hr>

    <div class="row mt-5">
        <nav class="navbar navbar-light navbar-expand-md">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item" [ngClass]="{'active' : tab === 'tab1'}"> <a class="nav-link" style="cursor: pointer" (click)="activar(0)"><strong>Mantenimiento Estado</strong></a></li>
                    <li class="nav-item ms-5" [ngClass]="{'active' : tab === 'tab2'}"><a class="nav-link" style="cursor: pointer" (click)="activar(1)"><strong>Mantenimiento Categoria</strong></a></li>
                </ul>
            </div>
        </nav>
    </div>

    <ng-container *ngIf="isEstado">
        <ngx-spinner></ngx-spinner>
        <div class="row mt-2">
            <div class="table-responsive">
                <table class="table table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Descripción</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of lstEstados; let i = index">
                            <td>{{item.codEstado}}</td>
                            <td>{{item.desEstado}}</td>
                            <td>
                                <a style="cursor: pointer" class="text-dark">
                                    <i class="bi bi-pencil-fill" (click)="editarEstado(item,i)"></i>
                                </a>
                            </td>

                            <td>
                                <a style="cursor: pointer" class="text-dark">
                                    <i class="bi bi-trash" (click)="eliminarEstado(item.codEstado,i)"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-3">
                <button class="btn btn-primary mt-2 col-md-12" (click)="agregarEstado()"> Agregar Estado </button>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="isCategoria">
        <div class="row mt-2">
            <div class="table-responsive">
                <table class="table table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of lstCategorias; let i = index">
                            <td>{{item.codCategoria}}</td>
                            <td>{{item.desCategoria}}</td>
                            <td>{{item.precioCategoria}}</td>
                            <td>
                                <a style="cursor: pointer" class="text-dark">
                                    <i class="bi bi-pencil-fill" (click)="editarCategoria(item, i)"></i>
                                </a>
                            </td>

                            <td>
                                <a style="cursor: pointer" class="text-dark">
                                    <i class="bi bi-trash" (click)="eliminarCategoria(item.codCategoria,i)"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-3">
                <button class="btn btn-primary mt-2 col-md-12" (click)="agregarCategoria()"> Agregar Categoria </button>
            </div>
        </div>
    </ng-container>
    <div class="row mt-5">
        <div class="col-md-6">
            <input type="checkbox" (click)="changue($event)" [checked]="atenderConsultas"><label class="subtitulo-principal px-4">Atender Consultas</label>
        </div>
        <hr>

        <ng-container *ngIf="atenderConsultas">
            <div class="table-responsive">
                <table class="table table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Categoria</th>
                            <th>Fecha Consulta</th>
                            <th>Estado</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of lstConsultas;">
                            <td>{{item.cliente.nomCliente}}</td>
                            <td>{{item.categoria.desCategoria}}</td>
                            <td>{{fechaConsulta(item.fechaConsulta)}}</td>
                            <td>{{item.estado.desEstado}}</td>
                            <td>
                                <i class="bi bi-check" style="cursor: pointer" (click)="responder(item)">Responder</i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-container>
    </div>
    <ngx-spinner></ngx-spinner>
</div>