<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" (click)="inicio()" style="cursor: pointer;">Inicio</a>
                </li>
            </ul>
            <form class="d-flex">
                <a class="btn btn-outline-success" (click)="ingresar()" role="button">Ingresar</a>
            </form>
        </div>
    </div>
</nav>

<div class="col" style="margin-left: 16%; margin-right: 16%">
    <div class="row my-5">
        <div class="col">
            <h3 style="color: #012A8C" class="mb-3">¿Qué es la Tarjeta de crédito?</h3>
            <p style="text-align: justify">
                La tarjeta de crédito es un medio de pago que permite realizar compras en diferentes establecimientos físicos y virtuales a pesar de no contar con liquidez en ese momento. Es decir, el banco financia estas compras a través de una línea crédito que te
                asigna. Esta línea de crédito es el monto máximo que puedes usar en un determinado tiempo y varía según una evaluación previa de tu capacidad de pago mensual.
            </p>
            <p style="text-align: justify">
                Además, al hacer uso de este dinero, asumes la obligación de devolver dicho importe utilizado y pagar los intereses que se generen a partir de los montos que consumas, los cuales se detallan en tu estado de cuenta mensual.
            </p>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-6">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/z3Ha78V9ZnQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-6">
            <h3 style="color: #012A8C" class="mb-4">¿Cuál es la diferencia entre la tarjeta de crédito y débito?</h3>
            <p style="text-align: justify">
                Con ambas tarjetas, puedes pagar en establecimientos físicos o virtuales. La diferencia es que, al comprar con la tarjeta de crédito, estás usando dinero que el banco te presta a través de una línea de crédito, lo que supone que luego devuelvas el monto
                que utilizado más los intereses que correspondan. En cambio, con la tarjeta de débito compras con tu propio dinero, es decir, con dinero que has guardado en tu cuenta de ahorros.
            </p>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-6 my-4">
            <h3 style="color: #012A8C" class="mb-4">¿Cuándo debes usar la tarjeta de crédito?</h3>
            <ul class="lista-check">
                <li class="mb-4 me-4">
                    <b>Como medio de pago:</b> utiliza la tarjeta de crédito solo para realizar compras de montos bajos, los cuales puedas pagar a fin de mes en su totalidad, como, por ejemplo, compra de ropa, salidas a restaurantes, compras en el supermercado
                    o de gasolina. Si pagas el total de la deuda a final del mes, no pagarás ni un sol en intereses.
                </li>
                <li class="mb-4 me-4">
                    <b>Como financiamiento:</b> puedes usar la tarjeta de crédito para compras que puedan ser más grandes y que necesites pagar en cuotas, por ejemplo, electrodomésticos u otros. Aquí la recomendación es que planifiques tu compra y pagues
                    en la menor cantidad de cuotas, ya que a menos cuotas pagarás menos intereses.
                </li>
            </ul>
        </div>
        <div class="col d-flex justify-content-center my-4">
            <img alt="" width="100%" height="90%" src="https://cuidatufuturo.com/wp-content/uploads/2015/12/shutterstock_51417601-articulo.jpg" />
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h3 style="color: #012A8C" class="mb-4">Conceptos claves que debes conocer:</h3>
            <ul class="lista-check">
                <li class="mb-4">
                    <b>TCEA (la tasa de costo efectiva anual):</b> es el costo total que deberás pagar; incluye la tasa de interés anual más las comisiones que debes asumir por usar la tarjeta de crédito. Esta es la tasa que debes comparar con otros bancos
                    para elegir la que más te convenga.
                </li>
                <li class="mb-4">
                    <b>Línea de crédito:</b> es el monto máximo que el banco te presta y que pone a tu disposición en tu tarjeta de crédito para que puedas consumir en establecimientos físicos y virtuales.
                </li>
                <li class="mb-4">
                    <b>Fecha de cierre o de facturación:</b> es el día en el que el banco hace un corte y “saca la cuenta” de las compras que hiciste durante el ciclo de facturación para calcular el monto de la deuda que tienes que pagar.
                </li>
                <li class="mb-4">
                    <b>Fecha de pago:</b> es la fecha límite que tienes para pagar lo que se indica en tu estado de cuenta para poder estar al día.
                </li>
                <li class="mb-4">
                    <b>Monto total:</b> significa pagar la deuda total de tu tarjeta de crédito. Si pagas antes o el mismo día de la fecha límite de pago, estarás al día y no pagarás intereses. Esta es la modalidad de pago que te recomendamos para tener
                    tus finanzas en orden y ahorrarte el pago de intereses.
                </li>
                <li class="mb-4">
                    <b>Monto mínimo:</b> es lo mínimo que debes pagar para estar al día. Usa esta opción solo en casos de emergencia, ya que, si siempre pagas el monto mínimo, tu deuda se alargará y pagarás más intereses.
                </li>
            </ul>
        </div>
    </div>
</div>

<footer class="py-3 my-4">
    <b><p class="text-center" >© 2021 Cibertec, Desarrollo de Servicios Web</p></b>
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
    </ul>
</footer>