<div class="modal-header cabecera-modal text-white">
    <p class="modal-title" id="modal-basic-title">Agregar Categoría</p>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="cerrar()">
    </button>
</div>

<div class="modal-body">
    <form [formGroup]="form" novalidate>
        <div class="row">
            <div class="col-md-6">
                <label class="item">Código categoría</label>
                <div class="form-row">
                    <div class="col">
                        <input type="text" class="form-control mb-3" id="codCategoria" formControlName="codCategoria" readonly>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <label class="item">Descripción categoría</label>
                <div class="form-row">
                    <div class="col">
                        <input type="text" class="form-control mb-3" id="desCategoria" formControlName="desCategoria" autocomplete="off"
                               [class.is-invalid]="fieldDesCategoria.invalid && fieldDesCategoria.touched"/>
                      <div class='invalid-feedback' *ngIf='fieldDesCategoria.invalid'>
                        <ng-container *ngIf="fieldDesCategoria.hasError('required')">
                            Campo requerido
                        </ng-container>
                      </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <label class="item">Precio categoría</label>
                <div class="form-row">
                    <div class="col">
                        <input type="text" class="form-control mb-3" id="preCategoria" formControlName="preCategoria"
                               [class.is-invalid]="fieldPreCategoria.invalid && fieldPreCategoria.touched">
                      <div class='invalid-feedback' *ngIf='fieldPreCategoria.invalid'>
                        <ng-container *ngIf="fieldPreCategoria.hasError('required')">
                          Campo requerido
                        </ng-container>
                      </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 text-right">
                <button type="button" class="btn btn-primary col-sm-6" (click)="agregar()">Agregar</button>
            </div>
        </div>
    </form>
</div>
