<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" (click)="inicio()" style="cursor: pointer;">Inicio</a>
                </li>
            </ul>
            <form class="d-flex">
                <a class="btn btn-outline-success" role="button" (click)="ingresar()" style="cursor: pointer;">Ingresar</a>
            </form>
        </div>
    </div>
</nav>

<div class="col" style="margin-left: 17%; margin-right: 17%">
    <div class="row">
        <div class="col">
            <h2 style="color: #012A8C; text-align: justify" class="my-3">Operaciones activas y pasivas de un banco: ¿en qué se diferencian?</h2>
            <p style="text-align: justify">
                Ambas juegan un papel importante para los bancos comerciales. Para seguir contribuyendo con el progreso del sector financiero, es vital saber diferenciarlas.
            </p>
            <img alt="" src="https://www.esan.edu.pe/apuntes-empresariales/2018/02/20/1500x844_operaciones_activas_pasivas.jpg" style="width: 100%" class="my-4" />
            <p style="text-align: justify">
                El gran crecimiento que viene experimentando la economía peruana desde el año 2002 ha hecho también que el sector financiero se desarrolle fuertemente. Incluso, este ritmo es dos o tres veces superior a las tasas de crecimiento de la economía general.
                Por ello, tanto para las empresas no financieras como compañías financieras es importante conocer bien cómo funcionan las entidades bancarias, con la meta de optimizar su gestión. Así lo aseguró Arturo García Villacorta, docente del curso
                Fundamentos de gestión bancaria del PEE de ESAN. El experto indica que las operaciones bancarias se clasifican en activas y pasivas.
            </p>
            <p style="text-align: justify">
                Por un lado, las operaciones activas comprenden las distintas modalidades de crédito, clasificadas por créditos directos e indirectos. Los primeros son aquellos en los que el banco desembolsa dinero al cliente y, en consecuencia, le cobra una tasa de
                interés. Mediante los créditos indirectos, en cambio, el banco garantiza al cliente ante un tercero y por tanto le cobra una comisión. Estos son algunos ejemplos:
            </p>
            <ul>
                <li>
                    <b>Créditos directos:</b> pagarés, descuentos de letras y facturas, factoring, créditos de exportación, arrendamientos financieros, créditos para activos fijos.
                </li>
                <li>
                    <b>Créditos indirectos:</b> cartas fianza, avales, advance account, cartas de crédito de importación.
                </li>
            </ul>
            <p style="text-align: justify">
                Por el contrario, las operaciones pasivas consisten en los procedimientos en los que el banco crea sus propios fondos para realizar las operaciones activas. "Son las diversas fuentes de financiamiento de la entidad financiera", indica García. En otras
                palabras, comprenden la movilización de los recursos requeridos para financiar sus operaciones. Se pueden clasificar en:
            </p>
            <ul>
                <li>
                    Depósitos del público (a la vista, ahorros, depósitos a plazo, CTS)
                </li>
                <li>
                    Obtención de préstamos de otras entidades (bancos y corresponsales)
                </li>
                <li>
                    Emisión de instrumentos de deuda (certificados de depósito, bonos)
                </li>
            </ul>
            <h3 style="color: #012A8C" class="my-4">¿Cuál es la diferencia entre ambas?</h3>
            <p style="text-align: justify">
                Las operaciones pasivas sirven para que los bancos formen reservas para acreditar. Las operaciones activas, en cambio, funcionan para producir recursos para el banco con el propósito de obtener una ganancia extendiendo préstamos, valores y demás.
            </p>
            <p style="text-align: justify">
                En ese sentido, en las operaciones activas, el banco asume la posición de acreedor frente al cliente, mientras que en las pasivas es la entidad financiera la que asume la posición de deudor. Así, estas últimas permiten a los bancos atraer fondos que ya
                están en circulación. Se crean nuevos recursos como resultado de las operaciones activas de préstamos.
            </p>
            <p style="text-align: justify">
                Así pues, la relación entre ambos tipos de operación resulta compleja y única. Un préstamo se extiende utilizando capital monetario recaudado por operaciones pasivas, pero el sistema bancario también posee la capacidad de "crear depósitos" mediante la
                transferencia del monto del préstamo a la cuenta de los clientes.
            </p>
            <p style="text-align: justify">
                Las posibilidades, los límites y las consecuencias de la expansión del crédito para los bancos son un asunto importante en la teoría de la banca y el crédito, así como en las actividades prácticas y la política de estado en las naciones capitalistas.
                Sin duda, los bancos pueden contribuir en gran medida a una expansión excesiva del crédito durante una fase de una recuperación económica cíclica, así como acelerar la inflación mediante su expansión crediticia.
            </p>
        </div>
    </div>
</div>

<footer class="py-3 my-4">
    <b><p class="text-center" >© 2021 Cibertec, Desarrollo de Servicios Web</p></b>
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
    </ul>
</footer>