<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" (click)="inicio()" style="cursor: pointer;">Inicio</a>
                </li>
            </ul>
            <form class="d-flex">
                <a class="btn btn-outline-success" (click)="ingresar()" role="button">Ingresar</a>
            </form>
        </div>
    </div>
</nav>
<br>
<div class="col mt-3 mb-5">
    <div class="row">
        <div class="col d-flex flex-column" style="padding-left: 25%; padding-right: 25%;">
            <!--Opciones-->
            <div id="opcion" class="row mt-5" style="background-color: #EBE2D8">
                <img src="assets/cargoscomunes.png" alt="" class="mb-1">
                <a class="btn btn-primary btn-lg" (click)="cargosComunes()">Cargos Comunes más frecuentes</a>
            </div>

            <div id="opcion" class="row mt-5">
                <img src="assets/cuenta.png" alt="" class="mb-1">
                <a class="btn btn-primary btn-lg" (click)="cuentaBancaria()">Cuenta bancaria</a>
            </div>

            <div id="opcion" class="row mt-5" style="background-color: #EBE2D8" style="transition: 1s">
                <img src="assets/operaciones.png" alt="" class="mb-1">
                <a class="btn btn-primary btn-lg" (click)="operacionesActivasPasivas()">Operaciones Activas vs Pasivas</a>
            </div>
        </div>
    </div>
</div>

<style>
    #opcion {
        background-color: #EBE2D8;
        transition: 0.5s;
    }
    
    #opcion:hover {
        transform: scale(1.07)
    }
</style>

<footer class="py-3 my-4">
    <b><p class="text-center" >© 2021 Cibertec, Desarrollo de Servicios Web</p></b>
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
    </ul>
</footer>