<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="margin-left: 10%; margin-right: 10%">
    <div class="carousel-inner" style="height: 350px">
        <div class="carousel-item active">
            <img src="assets/menu/banner1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="assets/menu/banner2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="assets/menu/banner3.jfif" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
</div>

<!-- Menú -->
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="" style="cursor: pointer;">Inicio</a>
                </li>
            </ul>
            <form class="d-flex">
                <a class="btn btn-outline-success" (click)="ingresar()" role="button">Ingresar</a>
            </form>
        </div>
    </div>
</nav>
<!-- Consultas -->
<section class="services mt-5">
    <p class="s-tittle">Accede a información sobre:</p>
    <!--services-box-container------------------->
    <div class="s-box-container">
        <!--service-box-1---------------->
        <div class="s-box">
            <!--top-bar-------->
            <div class="bar"></div>
            <!--img---------->
            <img alt="1" src="assets/menu/services/Service4.png" />
            <!--servies-name---------->
            <h1 style="color: rgb(1,42,140)">Uso de tarjetas</h1>
            <!--details------>
            <p>Conoce más sobre el uso de tu tarjeta de crédito</p>
            <!--btn---------->
            <a class="s-btn" (click)="tarjetaCredito()" style="cursor: pointer;">Conoce más</a>
        </div>
        <!--service-box-1---------------->
        <div class="s-box">
            <!--top-bar-------->
            <div class="bar"></div>
            <!--img---------->
            <img alt="2" src="assets/menu/services/Service2.png" />
            <!--servies-name---------->
            <h1 style="color: rgb(1,42,140)">Haz un presupuesto</h1>
            <!--details------>
            <p>Conoce la importancia de elaborar un presupuesto mensual</p>
            <!--btn---------->
            <a class="s-btn" (click)="presupuesto()" style="cursor: pointer;">Conoce más</a>
        </div>
        <!--service-box-3---------------->
        <div class="s-box">
            <!--top-bar-------->
            <div class="bar"></div>
            <!--img---------->
            <img alt="3" src="assets/menu/services/Service3.png" />
            <!--servies-name---------->
            <h1 style="color: rgb(1,42,140)">Seguridad Financiera</h1>
            <!--details------>
            <p>Descubre algunos tips para mantenerte seguro</p>
            <!--btn---------->
            <a class="s-btn" (click)="seguridadFinanciera()" style="cursor: pointer;">Conoce más</a>
        </div>
    </div>
</section>
<br>
<footer class="py-3 my-4">
    <b><p class="text-center" >© 2021 Cibertec, Desarrollo de Servicios Web</p></b>
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
    </ul>
</footer>