<div class="modal-header cabecera-modal text-white">
    <p class="modal-title" id="modal-basic-title">Consulta</p>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="cerrar()">
    </button>
</div>

<div class="modal-body">
    <form [formGroup]="form">
        <div class="form-row">
            <div class="form-group col-lg-12 mb-3">
                <label class="item">Su Consulta</label>
                <div class="form-row">
                    <div class="col">
                        <textarea name="" id="" cols="10" rows="10" class="form-control col-lg-12" formControlName="desConsulta" readonly maxlength="500"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    <label class="item">Fecha Consulta</label>
                    <div class="form-row">
                        <div class="col">
                            <input type="text" class="form-control mb-3" id="fechaConsulta" formControlName="fechaConsulta" readonly>
                        </div>
                    </div>

                </div>
            </div>
            <ng-container *ngIf="existeRespuesta">
                <div class="form-group col-lg-12 mb-3">
                    <label class="item">Respuesta</label>
                    <div class="form-row">
                        <div class="col">
                            <textarea name="" id="" cols="10" rows="10" class="form-control col-lg-12" formControlName="desRespuesta" maxlength="500" readonly></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <label class="item">Fecha Respuesta</label>
                        <div class="form-row">
                            <div class="col">
                                <input type="text" class="form-control mb-3" id="fechaRespuesta" formControlName="fechaRespuesta" readonly>
                            </div>
                        </div>

                    </div>
                </div>
            </ng-container>
        </div>
        <div class="row">
            <div class="col-sm-6 text-right">
                <button type="button" class="btn btn-primary col-sm-6" (click)="cerrar()">Cerrar</button>
            </div>
        </div>
    </form>
    <ngx-spinner></ngx-spinner>
</div>